@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Ovo&family=Sixtyfour&display=swap");
@import "tailwindcss";

/*  */
@theme {
  --color-mint: #51b39a;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

* {
  font-family: "Outfit", sans-serif;
}
